.vscode/c_cpp_properties.json
.vscode/tasks.json
server/__pycache__/main.cpython-310.pyc
.vscode/settings.json
CppProperties.json
.vscode/launch.json

client/bin/
client/.vs/
client/packages/
client/client/client.vcxproj
client/client/client.vcxproj.filters
client/client/client.vcxproj.user
client/client/packages.config
client/client.sln
server/__pycache__/
client/.vscode/launch.json
client/.vscode/tasks.json
